:root {
    --fam: "Raleway";
  
  }
  
  
  
  
  
  
  
  .as-console-row:after {
    display: none;
  }
  
  #font {
    font-family: Consolas;
  
  }

body {
    font-family: var(--fam);
    -webkit-user-select: none;
}

fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: #fafafa;
    border-radius: 4px;
}

.desc {
    display: inline-block;
}



#content {
    display: flex; 
    background: -webkit-linear-gradient(55deg, #009785 0%, #245AA5 50%, #B800E9 100%);
    background-attachment: cover;
    border-radius: 10px;
    padding: 20px 20px;
    flex-direction: column;


    background-size: cover; 
    -ms-background-size: cover; 
    -o-background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover;

  }
    #content > #row0 { order: 0; }
    #content > #row1 { order: 1; }
    #content > #row2 { order: 2; }
    #content > #row3 { order: 3; }

.roworder {
    color: white; 
    margin-bottom:20px;
}


/* THEME CAROUSEL */

    
    #content .arrow-up, .arrow-down {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        background-size: contain;
    }
    #content .arrow-up {
        background-image: url(../img/arrow-up.png);
        margin-right: 5px;
    }
    #content .arrow-down {
        background-image: url(../img/arrow-down.png);
        margin-right: 30px;
    }
    #content .arrow-up.off {
        opacity: .5;
    }
    #content .arrow-down.off {
        opacity: .5;
    }
    .flow {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        height: 20px;
        width: 100px;
        border: none;
        border-radius: 20px;
        overflow: hidden;
        font-size: 0;
        margin-right: 3px;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    }
        .flow .play {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        background: url(../img/play.png) no-repeat center center;
        background-size: contain;
        background-image: url(../img/play-color.png);
        }
        .flow .name {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        font-weight: 225;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 7px;
        padding-right: 10px;
        max-width: 150px;
        color: white;
        }



    .icon_prev {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        height: 20px;
        width: 20px;
        overflow: hidden;
        font-size: 0;
        margin-right: 1px;
    }
        .icon_prev .logo {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: white;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            -webkit-mask-image: url(../img/logo-white.png);
            background-size: contain;
            }
        .icon_prev .settings {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: white;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            -webkit-mask-image: url(../img/settings.png);
            background-size: contain;
            }
        .icon_prev .theme_icon {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: white;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            -webkit-mask-image: url(../img/settings.png);
            background-size: contain;
            }
        .icon_prev .information {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: white;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            -webkit-mask-image: url(../img/warning.png);
            background-size: contain;
            }
        .icon_prev .notification {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: white;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            -webkit-mask-image: url(../img/notification.png);
            background-size: contain;
            }
        .icon_prev .battery {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: white;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            -webkit-mask-image: url(../img/battery.png);
            background-size: contain;
            }
        .icon_prev .new_version {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            background: white;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;
            -webkit-mask-image: url(../img/new.png);
            background-size: contain;
            }



.setting {
    display: inline-block;
}

#left-col, #right-col {
    display: inline-block;
}

#left-col {
    width: 55%;
}

#right-col {
    width: 40%;
    vertical-align: top;
}

.select-description {
    display: inline-block;
    width: 22vw;
    line-height: 25px;
}

.select {
    display: inline-block;
    line-height: 25px;
    width: 68vw;
    height: 30px;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 4px;
    margin-right: 15px;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.theme {
    display: inline-block;
    width: 17vw;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 8px;
    line-height: 18px;
    white-space: nowrap;
}
    .theme.selected {
        background: #4BD762;
    }
    .theme.push {
        background-color: grey;
    }


.appearance-description, .appearance-input, .appearance-buttons {
    display: inline-block;
    line-height: 45px;
}

.appearance-description {
    width: 22vw;
}

.appearance-input {
    width: 69vw;
}

.appearance-buttons {
    width: 3vw;
}

    /* Delete theme */
    #btn-delete-theme, #btn-validate-theme, #btn-play-theme-open, #btn-play-theme-clic, #btn-delete-background, #btn-paypal {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 0;
        margin-right: auto;
        background: no-repeat center center;
        background-size: contain;
        cursor: pointer;
    }
    #btn-delete-theme, #btn-delete-background {
        background-image: url(../img/delete.png);
    }

    #btn-validate-theme{
        background-image: url(../img/validate.svg);
        width: 20px;
        height: 20px;
        visibility: hidden;
    }

    #btn-play-theme-open, #btn-play-theme-clic{
        background-image: url(../img/play.svg);
        width: 20px;
        height: 20px;
        visibility: hidden;

    }

    #btn-play-theme-clic{
        background-image: url(../img/play.svg);
        width: 20px;
        height: 20px;
        visibility: hidden;
    }

    #btn-paypal{
        background-image: url(../img/paypal.png);
        width: 150px;
        height: 150px;

  
    }

    



    /*#btn-delete-logo, #btn-delete-background, #btn-preview-logo, #btn-preview-background {*/
    #btn-delete-logo, #btn-delete-background {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 0;
        margin-right: auto;
        background: no-repeat center center;
        background-size: contain;
    }
    #btn-delete-logo, #btn-delete-background {
        background-image: url(../img/delete.png);
    }
    /*
    #btn-preview-logo, #btn-preview-background {
        background-image: url(../img/preview.png);
    }
    */

input {
    width: 69vw;
    margin-right: 5px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid rgb(75, 215, 98);
    padding: 3px 0 3px 0;
}

#version {
    font-size: 1vw;
    color: darkgray;
}

.slidecontainer {
    display: inline-block;
    width: 75%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }
  .slider:disabled {
      opacity: 0.2;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-color: rgb(75, 215, 98);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    background: rgb(75, 215, 98);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(75, 215, 98);
    cursor: pointer;
  }

  .form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: rgb(75, 215, 98); }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }


/* Thanks https://github.com/Homeycornelisse/Homey.ink */
#devices {

}
  .devices {
    overflow-y: visible;
  }
    .device {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 100px;
      height: 100px;
      border: 4px solid #0190E3;
      background-color: rgb(255, 254, 254);
      border: none;
      box-shadow: 0 2px 2px rgba(0,0,0,0.2);
      border-radius: 16px;
      box-sizing: border-box;
      padding: 12px;
      margin-right: 12px;
      opacity: 0.5;
      -webkit-user-select: none;
    }
      .device.on {
        opacity: 1;
      }
    .device.armed {
      Background-color:  #FF0700;
     -webkit-border-radius: none;
     border-radius: none;
      border: none;
      color:  #FF0700;     

    }
    .device.partially {
      Background-color: rgb(255,102,0);
     -webkit-border-radius: none;
     border-radius: none;
      border: none;
      color: rgb(255,102,0);     
    }
    .device.disarmed {
      Background-color: rgb(29,185,84);
     -webkit-border-radius: none;
     border-radius: none;
     border: none;  
     color: rgb(29,185,84);   
    }
      .device.alarmtrue {
        Background-color: white;
        -webkit-border-radius: none;
        border-radius: none;
         border: none;
        color:  #FF0700;
        cursor: auto; /*-pointer;*/
        -webkit-animation: glowing 1500ms infinite;
 
        -o-animation: glowing 1500ms infinite;
         animation: glowing 1500ms infinite;
       }     
        @-webkit-keyframes glowing {
        0%  { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0700; -webkit-box-shadow: 0 0 50px #FF0700; }
        100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
       }
    .device.low {
      Background-color: rgb(29,185,84);
     -webkit-border-radius: none;
     border-radius: none;
      border: none;
      color: rgb(29,185,84);     
    }
    .device.mid {
      Background-color: rgb(255,102,0);
     -webkit-border-radius: none;
     border-radius: none;
      border: none;
      color: rgb(255,102,0);     
    }
    .device.high {
      Background-color:  #FF0700;
     -webkit-border-radius: none;
     border-radius: none;
      border: none;
      color:  #FF0700;   
    }
    
             .device.away {
        opacity: 0.5;
      }
      .device.day {
        opacity: 0.5;
      }
      .device.push {
        background-color: white;
        -webkit-box-shadow: 0 0 50px white; 
      }
      .device.push-long {
        background-color: white;
        -webkit-box-shadow: 0 0 50px white;
        -webkit-box-shadow-radius: 0 0 4vh

      }

      .device .icon {
        width: 45px;
        height: 45px;
        background: black;
        margin-bottom: 3px;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        -webkit-user-select: none;
      }
      .device .icon-capability {
        position: absolute;
        top: 30px;
        left: 15px;
        width: 45px;
        height: 45px;
        background: black;
        margin-bottom: 3px;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        -webkit-user-select: none;
      }
      .device .icon-capability-lock {
        position: absolute;
        top: 30px;
        right: 15px;
        width: 45px;
        height: 45px;
        background: black;
        margin-bottom: 3px;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        -webkit-user-select: none;
      }
      .device .icon-capability-lock.locked {
        -webkit-mask-image: url(../img/capabilities/locklocked.png);
      }
      .device .icon-capability-lock.unlocked {
        -webkit-mask-image: url(../img/capabilities/lockunlocked.png);
      }
      .device .value {
        position: absolute;
        top: 15px;
        right: 12px;
        width: 100%;
        font-size: 18px;
        height: 42px;
        line-height: 18px;
        font-weight: 300;
        vertical-align: text-top;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-user-select: none;
        color: black;
        text-align: right;
      }
      #decimal {
        font-size: 2vw;
        vertical-align: text-top;
        -webkit-user-select: none;
      }
      .device .value.hidden {
        visibility: hidden;
      }
      .device .name {
        position: absolute;
        bottom: 12px;
        left: 12px;
        right: 12px;
        width: 86%;
        height: 100%;
        max-height: 14px;
        font-size: 14px;
        line-height: 15px;
        font-weight: 300;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-user-select: none;
        color: black;
      }
      .device .name.highlight {
        font-weight: 1000;
      }

      .alarm {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 50px;
        height: 40px;
        border: 1px solid black;
        background-color: white;
        border: none;
        box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        border-radius: 8px;
        box-sizing: border-box;
        padding: 6px;
        margin-right: 3px;
        -webkit-user-select: none;
        opacity: 0.5;
    }
    .alarm.on {
        opacity: 1;
      }
        .alarm .value {
            position: absolute;
            top: 7px;
            left: 6px;
            width: 100%;
            font-size: 9px;
            height: 21px;
            line-height: 9px;
            font-weight: 300;
            vertical-align: text-top;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            -webkit-user-select: none;
            color: black;
        }
        .alarm .name {
            position: absolute;
            bottom: 8px;
            left: 6px;
            right: 6px;
            width: 86%;
            height: 100%;
            max-height: 14px;
            font-size: 7px;
            line-height: 7px;
            font-weight: 300;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            -webkit-user-select: none;
            color: black;
        }
        .alarm .schedule {
            position: absolute;
            bottom: 6px;
            left: 6px;
            right: 6px;
            width: 80%;
            height: 100%;
            max-height: 6px;
            font-size: 5px;
            line-height: 7px;
            font-weight: 100;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            -webkit-user-select: none;
            color: black;
        }
