/*
 * Theme by: Danee de Kruyff
 */

h1 {
  font-size: 3vh;
}

h2 {
  font-size: 2vh;
}
#container {

}

#settings-panel {
  width: 90vw;
  height: 80vh;
  left: 5vw;
  top: 5vh;
}
  #settings-iframe {
    position: absolute;
    right: 2vw;
    width: 86vw;
    height: 95%;
    background: white;
    overflow: hidden;
  }
  .btn {
    width: 10vw;
    line-height: 3vh;
    font-size: 8px;
  }

  #theme-panel {
    width: 90vw;
    height: 80vh;
    left: 5vw;
    top: 5vh;
  }
    #theme-iframe {
      position: absolute;
      right: 2vw;
      width: 86vw;
      height: 95%;
      background: white;
      overflow: hidden;
    }
    .btn {
      width: 10vw;
      line-height: 3vh;
      font-size: 8px;
    }

#info-panel {
  padding: 3vh 4vh;
}

#header {
  height: 9vh;
  margin-bottom: 1vw;
}

.info-message {
  font-size: 3vh;
  font-weight: 300;
}

.info-date {
  margin-bottom: 1%;
}

#zoom {
  visibility: hidden;
}

#weather {
  width: 42vw;
  top: 0;
}
  #weather-temperature:after {
    content: "°";
  }
  #weather-state-icon {
    display: inline-block;
    margin-left: 4vw;
    top: 0;
    width: 8vw;
    height: 6vh;
    background-size: 8vw 6vh;
  }
  #weather-temperature {
    display: inline-block;
    margin-left: -11vw;
    top: -1vh;
    font-size: 6vw;
    line-height: 6vw;
    /*vertical-align: text-top;*/
  }
  #weather-roof {
    width: 8vw;
    height: 14vw;
    margin-left: 2vw;
  }
  #weather-temperature-inside {
    margin-left: -9.5vw;
    font-size: 5vw;
    line-height: 5vw;
    font-weight: 400;
  }
  #weather-temperature-inside:after {
    vertical-align: top;
  }
  #sunrise, #sunset {
    position: relative;
    top: -1vh;
    display: inline-block;
  }
  #sunrise-icon, #sunset-icon  {
    width: 6vw;
    height: 4vh;
    margin-right: 0vw;
  }
  #sunrise-time, #sunset-time {
    font-size: 2.2vw;
    line-height: 0vh;
  }

#text {
  position: absolute;
  left: 20vw;
  right: 20vw;
  height: 20vh;
  top: 12vh;
  visibility: hidden;
}
  #text-large {
    font-weight: 250;
    font-size: 3vh;
    margin-top: .5vh;
  }
  #text-large:after {
    font-weight: 150;
    width: 5vw;
    margin: 1vh auto;
  }
  #text-small {
    font-size: 1.5vh;
  }

  #details {
    top: 1vh;
    right: 0;
    width: 36vw;
  }
    #version-icon {
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }
    #battery-details {
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }
    #notification-details {
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }
    #sensor-details {
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }
    #settings-icon {
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }

    #theme-icon {
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }
    #logo {
      display: inline-block;
      width: 5vw;
      height: 5vw;
    }

.favorites {
  position: static;
  left: 0;
  right: 0;
}
  .favorites-inner {
    white-space: normal;
    -webkit-mask-image: none;
  }
  .favorites h2 {
    display: block;
    width: auto;
    font-size: 1.6vh;
    margin-bottom: .8vh;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items: center;

    opacity: 0.3;
  }
  .favorites h2:after {
    display: none;
  }
    .favorites h2 span {
      flex-shrink: 0;
      margin-right: 1vw;
    }
    .favorites h2:after {
      content: "";
      display: block;
      width: 100%;
      vertical-align: middle;
      height: 1px;
      background: white;
    }

#flows {
  margin-bottom: 2vh;
}
  .flow {
    height: 5.6vh;
    margin-bottom: 1vh;
    border-radius: 5.6vh;
  }
  .flow.running:before {
    font-size: 2.6vh;
    line-height: 5.6vh;
  }
    .flow .play {
      width: 5.6vh;
      height: 5.6vh;
    }
    .flow .name {
      font-weight: 260;
      height: 5.6vh;
      line-height: 5.6vh;
      font-size: 2.2vh;
      padding: 0 2.4vh;
      padding-right: 3.2vh;
      max-width: 21vw;
    }

#alarms {
  
}
  .alarms .alarm {
    width: 16.9vh;
    height: 11.9vh;
    padding: 1.6vh;
    margin-right: 2.2vh;
    margin-bottom: 2.2vh;
    border-radius: 2.4vh;
  }
    .alarms .alarm .name {
      position: absolute;
      bottom: 2.6vh;
      left: 1.6vh;
      right: 1.6vh;
      font-size: 2.2vh;
      font-weight: 300;
      line-height: 2.8vh;
      width: auto;
      height: auto;
      max-height: 5.6vh;
    }
    .alarms .alarm .value {
      position: absolute;
      top: 2.4vh;
      left: 1.8vh;
      right: 1.8vh;
      font-size: 3.4vh;
      font-weight: 300;
      line-height: 3.4vh;
      height: auto;
      max-height: 6vh;
    }

#devices {
  position: static;
}
  .device {
    width: 16.9vh;
    height: 16.9vh;
    padding: 1.6vh;
    margin-right: 2.2vh;
    margin-bottom: 2.2vh;
    border-radius: 2.4vh;
  }
    .device .icon {
      position: absolute;
      top: 1.6vh;
      left: 1.6vh;
      width: 6.4vh;
      height: 6.4vh;
    }
    .device .icon-capability {
      position: absolute;
      top: 4vh;
      left: 1.8vh;
      width: 4.4vh;
      height: 4.4vh;
    }
    .device .value {
      position: absolute;
      top: 2.4vh;
      right: 1.8vh;
      font-size: 3.4vh;
      font-weight: 300;
      line-height: 3.4vh;
      width: auto;
      height: auto;
      max-height: 6vh;
      text-align: right;
    }

    #decimal {
      font-size: 2.4vh;
    }
    .device .name {
      position: absolute;
      bottom: 1.6vh;
      left: 1.6vh;
      right: 1.6vh;
      font-size: 2.2vh;
      font-weight: 300;
      line-height: 2.8vh;
      width: auto;
      height: auto;
      max-height: 5.6vh;
    }
