/*
 * Original theme by: Emile Nijssen
 * Enriched by Danee de Kruyff
 */

body {

}

#container {

}

#content {
  zoom: .8;
}

.info-message {
  font-size: 3.4vh;
  font-weight: 350;
}

.info-date {
  margin-bottom: 1%;
}

#weather {
  width: 42vw;
  top: 0vw;
}
  #weather-temperature {
  }
  #weather-temperature:after {
    content: "°";
  }
  #weather-state-icon {
    top: 1vw;
  }

  #sun-events {
    left: 15vw;
    width: 26vw;
  }
    #sunrise, #sunset {
      display: inline-block;
    }
    #sunrise-icon, #sunset-icon  {
      width: 3vw;
      height: 3vw;
      margin-right: 0vw;
    }
    #sunrise-time, #sunset-time {
      font-size: 1.2vw;
      line-height: 0vh;
    }

  #text {
    position: absolute;
    left: 30vw;
    right: 30vw;
    height: 7vw;
  }
    #text-large {
      font-weight: 500;
      font-size: 3vw;
      margin-top: 1vw;
    }
    #text-large:after {
      font-weight: 300;
      width: 10vw;
      margin: 0.5vw auto;
    }
    #text-small {
      font-size: 1vw;
    }

  #details {
    top: 1vh;
    right: 0;
    width: 26vw;
  }
    #version-icon {
      display: inline-block;
      width: 3vw;
      height: 5vw;
    }
    #battery-details {
      display: inline-block;
      width: 3vw;
      height: 5vw;
    }
    #notification-details {
      display: inline-block;
      width: 3vw;
      height: 5vw;
    }
    #sensor-details {
      display: inline-block;
      width: 3vw;
      height: 5vw;
    }

    #flame-details {
      display: inline-block;
      width: 3vw;
      height: 5vw;
    }
    #settings-icon {
      display: inline-block;
      width: 3vw;
      height: 5vw;
    }

    #theme-icon {
      display: inline-block;
      width: 3vw;
      height: 5vw;
    }

    #logo {
      display: inline-block;
      width: 3vw;
      height: 5vw;
    }

.favorites {
  position: static;
  left: 0;
  right: 0;
}
  .favorites-inner {
    white-space: normal;
    -webkit-mask-image: none;
  }
  .favorites h2 {
    display: block;
    width: auto;
    font-size: 2vh;
    margin-bottom: 1vh;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items: center;

    opacity: 0.3;
  }
  .favorites h2:after {
    display: none;
  }
    .favorites h2 span {
      flex-shrink: 0;
      margin-right: 1vw;
    }
    .favorites h2:after {
      content: "";
      display: block;
      width: 100%;
      vertical-align: middle;
      height: 1px;
      background: white;
    }

#flows {
  margin-bottom: 4vh;
}
  .flow {
    height: 7vh;
    margin-bottom: 2vh;
    border-radius: 7vh;
  }
  .flow.running:before {
    font-size: 3.2vh;
    line-height: 7vh;
  }
    .flow .play {
      width: 7vh;
      height: 7vh;
    }
    .flow .name {
      font-weight: 300;
      height: 7vh;
      line-height: 7vh;
      font-size: 2.8vh;
      padding: 0 3vh;
      padding-right: 4vh;
      max-width: 20vw;
    }

#alarms {
  
}
  .alarms .alarm {
    width: 20vh;
    height: 16vh;
    padding: 2vh;
    margin-right: 1.36vw;
    margin-bottom: 3vh;
    border-radius: 3vh;
  }
    .alarms .alarm .value {
      top: 3vh;
      left: 2vh;
      right: 2vh;
      font-size: 4.2vh;
      font-weight: 300;
      line-height: 4.2vh;
      height: auto;
      max-height: 8vh;
    }
    .alarms .alarm .name {
      bottom: 5vh;
      left: 2vh;
      right: 2vh;
      font-size: 2.7vh;
      font-weight: 300;
      line-height: 2.7vh;
      max-height: 2.7vh;
      width: auto;
      height: auto;
    }
    .alarms .alarm .schedule {
      bottom: 2vh;
      left: 2vh;
      right: 2vh;
      max-height: 2.5vh;
      font-size: 1.8vh;
      line-height: 3vh;
      font-weight: 200;
    }

#devices {
  position: static;
}
  .device {
    width: 20vh;
    height: 20vh;
    padding: 2vh;
    margin-right: 1.36vw;
    margin-bottom: 3vh;
    border-radius: 3vh;
  }
    .device .icon {
      position: absolute;
      top: 2vh;
      left: 2vh;
      width: 7vh;
      height: 7vh;
    }
    .device .icon-capability {
      position: absolute;
      top: 6vh;
      left: 2.5vh;
      width: 5vh;
      height: 5vh;
    }
    .device .value {
      position: absolute;
      top: 3vh;
      right: 2vh;
      font-size: 4.2vh;
      font-weight: 300;
      line-height: 4.2vh;
      width: auto;
      height: auto;
      max-height: 8vh;
      text-align: right;
    }

    #decimal {
      font-size: 3vh;
    }
    .device .name {
      position: absolute;
      bottom: 2vh;
      left: 2vh;
      right: 2vh;
      font-size: 2.7vh;
      font-weight: 300;
      line-height: 3.5vh;
      width: auto;
      height: auto;
      max-height: 7vh;
    }
    .device .name.highlight {
      font-weight: 500;
    }
