<!doctype html>
<html>
  <head>
    <title>HomeyDash - Reborn</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homeydash.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' id='link'>

    

    <script type="text/javascript" src="//cdn.athom.com/athom-api/2.1.186/athom-api.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
    <script type="text/javascript" src="../static/js/polyfill.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="../static/js/later.js"></script>
    <script type="text/javascript" src="../static/js/homeydash.helpers.js"></script>
    <script type="text/javascript" src="../static/js/homeydash.app.js"></script>

  </head>
  <body id="body">
    <div id="info-panel"></div>
    <div id="settings-panel"></div>
    <div id="theme-panel"></div>
    <div id="slider-panel">
      <div id="slider-close">&times;</div>
      <div id="slider-icon"> </div>
      <div id="slider-capability"> </div>
      <div id="slider-name"> </div>
      <div id="slider-value"> </div>
      <input type="range" min="0" max="100" value="100" id="slider">
    </div>

    <div id="container">
      <div id="container-inner">

        <div id="header">
          <div id="weather">

            <div id="sunstate">
              <div id="sunrise-icon"></div>
              <div id="sunrise-time"></div>
              <div id="sunset-icon"></div>
              <div id="sunset-time"></div>
            </div>

            <div id="weather-state-icon"></div>
            <div id="weather-temperature"></div>

            <div id="weather-roof"></div>
            <div id="weather-temperature-inside"></div>
          </div>


          <div id="text">
            <div id="text-large"></div>
            <div id="text-small"></div>
            <div id="text-small"></div>
          </div>

          <div id="details">
            <div class="btn_effect" id="version-icon"></div>
            <div class="btn_effect" id="battery-details"></div>
            <div class="btn_effect" id="notification-details"></div>
            <div class="btn_effect" id="sensor-details"></div>

            <div class="btn_effect" id="settings-icon"></div>
  
            <div class="btn_effect" id="theme-icon"></div>
            <div class="btn_effect" id="logo"></div>
          </div>

        </div>

        <div id="content">

          <div id="row1">
            <div id="flows" class="favorites">
              <h2><span id="favorite-flows"></span></h2>
              <div id="flows-inner" class="flows favorites-inner"></div>
            </div>
          </div>

          <div id="row2">
            <div id="devices" class="favorites">
              <h2><span id="favorite-devices"></span></h2>
              <div id="devices-inner" class="devices favorites-inner"></div>
            </div>
          </div>

          <div id="row3">
            <div id="alarms" class="favorites">
              <h2><span id="favorite-alarms"></span></h2>
              <div id="alarms-inner" class="alarms favorites-inner"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <b><a id="theme_autor" class="autortheme"></a></b>
  </body>
</html>
