<html>
    <head>
        <title>HomeyDash - Reborn</title>
    
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="../static/css/homeydash.settings.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' id='link'>
        <script type="text/javascript" src="../static/js/homeydash.helpers.js"></script>
        <script type="text/javascript" src="../static/js/homeydash.settings.js"></script>
    </head>
    <body id="body-settings">
        <div id="left-col">
            <div id="settings-language-title" class="select-description">Select your language</div>
            <select id="settings-language-select" class="select">
                <option value="cs">🇨🇿 Český</option>
                <option value="da">🇩🇰 Dansk</option>
                <option value="de">🇩🇪 Deutsch</option>
                <option value="en">🇬🇧 English</option>
                <option value="es">🇪🇸 Español</option>
                <option value="fr">🇫🇷 Français</option>
                <option value="it">🇮🇹 Italiano</option>
                <option value="nl">🇳🇱 Nederlands</option>
                <option value="nb">🇳🇴 Norsk</option>
                <option value="ro">🇷🇴 Română</option>
                <option value="sv">🇸🇪 Svenska</option>
            </select>
            
            <div id="settings-format-title" class="select-description">Select your format</div>
            <select id="settings-format-select" class="select">
                <option value="ipad">iPad</option>
                <option value="iphone">iPhone</option>
                <option value="web">web</option>
            </select>

            <div id="appearance-temperature-outdoor"class="select-description">
                Outdoor temperature
            </div>
            <select id="settings-temperature-outdoor-select" class="select">
            </select>

            <div id="appearance-temperature-indoor" class="select-description">
                Indoor temperature
            </div>
            <select id="settings-temperature-indoor-select" class="select">
            </select>

            <div id="appearance-device-brightness" class="select-description hidden">
                Brightness device
            </div>
            <select id="settings-device-brightness-select" class="select hidden">
            </select>
        </div>
        <div id="right-col">
            <div id="content">
                <div id="row1" class="roworder">
                    <div id="row1-up" class="arrow-up"></div>
                    <div id="row1-down" class="arrow-down"></div>
                    <div class="flow">
                        <div class="play"></div><div class="name">Flow</div>
                    </div>
                </div>

                <div id="row2" class="roworder">
                    <div id="row2-up" class="arrow-up"></div>
                    <div id="row2-down" class="arrow-down"></div>    
                    <div class="device">
                        <div class="name">Device</div>
                    </div>
                    <div class="device">
                        <div class="name">Device</div>
                    </div>
                    <div class="device">
                        <div class="name">Device</div>
                    </div>
                </div>

                <div id="row3" class="roworder">
                    <div id="row3-up" class="arrow-up"></div>
                    <div id="row3-down" class="arrow-down"></div>
                    <div class="alarm">
                        <div class="value">12:00</div>
                        <div class="name">Alarm</div>
                        <div class="schedule">weekdays</div>
                    </div>
                    <div class="alarm">
                        <div class="value">12:00</div>
                        <div class="name">Alarm</div>
                        <div class="schedule">weekend</div>
                    </div>
                </div>
            </div>
        </div>


        <div id="version"></div>
    </body>
</html>